@font-face {
    font-family: Norse-Bold;
    src: url(./Norse-Bold.otf);
}

body {
    display: flex;
    background-color: rgba(0, 0, 0, .2);
    margin: 0;
}

#main {
    margin-left: 40px;
    margin-top: 120px;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 22px;
}

#main a {
    text-decoration: none;
    color: blue;
}

#photoBy {
    position: absolute;
    font-size: 12px;
    color: white;
    bottom: .1rem;
    left: 8rem;
    font-weight: 200;
}

.letsGo {
    margin-top: 2.5rem;
    margin-left: 10rem;
    font-size: 1.5em;
    font-style: italic;
}

#photoBy a {
    color: white;
}

#sideBar {
    position: relative;
    margin: 0;
}

#sideBarOdin {
    position: absolute;
    font-family: Norse-Bold;
    color: white;
    top: 190px;
    left: 220px;
    font-size: 100px;
}

#sideBarBackground {
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    width: clamp(300px, 100vw, 600px);
    height: 100px;
    top: 190px;
}

img.sideImage {
    position: absolute;
    top: 190px;
    left: 120px;
    height: 100px;
}

img.background {
    width: clamp(300px, 100vw, 600px);
    height: auto;
}

form {
    position: relative;
    display: grid;
    grid-template-columns: 22vw 22vw;
    margin-top: 3rem;
    font-size: 10px;
    gap: 20px;
}

label,
input {
    display: block;

}

input {
    height: 1.2rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .2);
    border: 3px solid rgba(0, 0, 0, .2);
    width: 20vw;
}

input.button {
    margin-top: 50px;
    width: 10rem;
    height: 2.5rem;
    background-color: darkolivegreen;
    font-weight: 700;
    font-size: 1rem;
    border: 3px solid black;
}

input:focus {
    border: 3px solid blue;
    background-color: rgba(0, 0, 0, .1);
    box-shadow: red;
    outline: none;
}

input.button:focus {
    background-color: darkolivegreen;
    border: 3px solid black;
}

input.button:hover {
    border: none;
}